@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeloTime</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/favicon.png" type="image/png" rel="icon">
</head>
<body>
    <div class="page">
    <div class="main">
        <div class="content px-4">
            <div class="row align-items-center">
                <div class="col justify-content-start">
                    <img style="width: 164px; height: 90px;" alt="Sola Arena" src="https://sola-arena.no/wp-content/themes/solaarena/images/logo.svg?ver=4" />
                </div>
                <div class="col text-center">
                    <h3>@ViewData["Title"]</h3>
                    </div>
                <div class="col"></div>
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    </div>
    <footer class="footer border-top text-muted">
        <div class="container">
            &copy; 2021 - VeloTimer - <a asp-area="" asp-page="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
