@page "{Track}/{Label}"

@model VeloTimerWeb.Api.Pages.InfoScreen.LapTimesModel

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rytter</th>    
                <th>Tid</th>
                <th>Fart</th>
            </tr>
        </thead>
        <tbody>
@{
            if (Model.times == null)
            {
                <tr>
                    <td colspan="3">
                        Laster...
                    </td>
                </tr>
            }
            else
            {
                foreach (var segment in Model.times)
                {
                    <tr>
                        <td>@segment.Rider</td>    
                        <td>@String.Format("{0:00.000}", segment.Time)</td>
                        <td>@String.Format("{0:00.000}", segment.Speed)</td>
                    </tr>
                }
            }
    }
        </tbody>
    </table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/timeupdates.js"></script>
<script type="text/javascript">
    //subscribetosegment();
    //window.setTimeout(function () { 
    //    window.location.reload();
    //}, 15000);
</script>