@page "{Track}/{Label}"
@using VeloTimer.Shared.Util

@section head
{
    <meta http-equiv="refresh" content="10">
}

@section sponsor
{
    <img style="height: auto;" alt="Tørst Energidrikk" src="/img/toerst-energidrikk.png" />
}

@model VeloTimerWeb.Api.Pages.InfoScreen.LapTimesModel

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="mw-100">Rytter</th> 
                @if (Model.HasSplit)
            {
                <th scope="col" class="text-right">Split</th>
            }
                <th scope="col" class="text-right">Tid</th>
                <th scope="col" class="text-right">Fart</th>
            </tr>
        </thead>
        <tbody>
@{
            if (Model.Times == null)
            {
                    <tr>
                        <td colspan="3">
                            Laster...
                        </td>
                    </tr>
            }
            else
            {
                foreach (var segment in Model.Times)
                {
                        <tr>
                            <td>@segment.Rider</td>
                            @if(Model.HasSplit)
                        {
                                <td class="text-right">@Formatters.FormatTime(segment.Intermediates.First().Time)</td>
                        }
                            <td class="text-right">@Formatters.FormatTime(segment.Time)</td>
                            <td class="text-right">@Formatters.FormatSpeed(segment.Speed)</td>
                        </tr>
                }
            }
    }
        </tbody>
    </table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/timeupdates.js"></script>
<script type="text/javascript">
    //subscribetosegment();
    //window.setTimeout(function () { 
    //    window.location.reload();
    //}, 15000);
</script>