<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">VeloTimerWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nametransponder">
                <span class="oi oi-cog" aria-hidden="true"></span> Name transponder
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="segmenttimes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Segment times
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="laptimes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lap times
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="200times">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 200m times
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
