<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear/>
		<add key="github" value="https://nuget.pkg.github.com/asbjorjo/index.json"/>
  
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="asbjorjo"/>
			<add key="ClearTextPassword" value="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"/>
		</github>
	</packageSourceCredentials>
</configuration>