@page "/sekundering"
@layout MainLayout
@inject IApiClient Api
@inject HubConnection hubConnection

<div class="row">
    <div class="column">
        <h3>Sekundering</h3>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="row">
            <div class="column">
                <h4>Velg ryttere</h4>
            </div>
            <div class="w-100"/>
            <div class="column">
                Dropdown
            </div>
        </div>
    </div>
    <div class="column">
        <div class="row">
            <div class="column">
                <h4>Velg målepunkt</h4>
            </div>
            <div class="w-100"/>
            <div class="column">
                Dropdown
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="column">
        <div class="row">
            <div class="column text-center">
                <h4>Passingstider</h4>
            </div>
        </div>
        <div class="row">
            <div class="column">
                Tabell
            </div>
        </div>

    </div>
</div>

@code {

}
