@page "/"
@using System.Globalization
@using VeloTimer.Shared.Util

<div>
    <div class="row">
        <ActiveRiderCount FromTime=DateTimeOffset.Now.AddHours(-1) />
    </div>

    <AuthorizeView>
        <Authorized>
            <div>
                <ActiveRiders FromTime=DateTimeOffset.Now.AddHours(-1) />
            </div>
        </Authorized>
    </AuthorizeView>

    <div>
        <div>Tider å slå denne måneden:</div>
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now) Segment=1 ShowIntermediate=false />
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now) Segment=2 ShowIntermediate=false />
    </div>
    <div>
        <div>Beste tider forrige måned:</div>
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now.AddMonths(-1)) ToTime=DateTimeUtils.EndOfMonth(DateTimeOffset.Now.AddMonths(-1)) Segment=1 ShowIntermediate=false />
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now.AddMonths(-1)) ToTime=DateTimeUtils.EndOfMonth(DateTimeOffset.Now.AddMonths(-1)) Segment=2 ShowIntermediate=false />
    </div>
</div>