@page "/"
@using System.Globalization
@using VeloTimer.Shared.Util

<div>
    <div class="row">
        <div class="col">
            <ActiveTransponderCount FromTime=DateTimeOffset.Now.AddMinutes(-30) />
        </div>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="row">
                <ActiveRiders FromTime=DateTimeOffset.Now.AddMinutes(-30) />
            </div>
        </Authorized>
    </AuthorizeView>

    <div>
        <div>Tider å slå denne måneden:</div>
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now) Label=Runde ShowIntermediate=false />
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now) Label=200m ShowIntermediate=false />
    </div>
    <div>
        <div>Beste tider forrige måned:</div>
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now.AddMonths(-1)) ToTime=DateTimeUtils.EndOfMonth(DateTimeOffset.Now.AddMonths(-1)) Label=Runde ShowIntermediate=false />
        <FastestSegmentTime FromTime=DateTimeUtils.StartOfMonth(DateTimeOffset.Now.AddMonths(-1)) ToTime=DateTimeUtils.EndOfMonth(DateTimeOffset.Now.AddMonths(-1)) Label=200m ShowIntermediate=false />
    </div>
</div>