@page "/laptimes"
@layout EmptyLayout

<p>
    <img style="width: 164px; height: 90px;" alt="Sola Arena" src="https://sola-arena.no/wp-content/themes/solaarena/images/logo.svg?ver=4" />
    <h3>Rundetider</h3>
</p>

<SegmentTimes Segment=1 FromTime=DateTimeOffset.Now.AddHours(-1) ShowIntermediate=false />