@page "/rider/segmenttimes/{SegmentId:long?}"
@layout MainLayout
@using VeloTimer.Shared.Models
@inject NavigationManager NavigationManager
@inject IApiClient Api
@inject HttpClient Http

<h3>Mine passeringstider</h3>

@if (segments == null || rider == null)
{
    <p>Laster...</p>
}
else
{
    <select @onchange="ChangeSegment">
        @foreach (var segment in segments)
        {
            <option value="@segment.Id" selected="@(segment.Id == this.segment)">@segment.Label</option>
        }
    </select>
    <SegmentTimes Segment=segment FromTime=DateTimeOffset.Now.Date.AddHours(-24) Count=100 Rider=@rider.Id />
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [Parameter]
    public long? SegmentId { get; set; }

    private Segment[] segments;
    private long segment;
    private Rider rider;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            rider = await Api.GetRiderByUserId(user.FindFirst(c => c.Type == "sub")?.Value);
        }
    }

    protected override void OnParametersSet()
    {
        if (SegmentId.HasValue && SegmentId.Value != segment)
        {
            segment = SegmentId.Value;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        segments = await Http.GetFromJsonAsync<Segment[]>("segments");
        segment = segments.First().Id;
    }

    private void ChangeSegment(ChangeEventArgs e)
    {
        var selected = long.Parse(e.Value.ToString());
        NavigationManager.NavigateTo($"rider/segmenttimes/{selected}");
    }
}
