@page "/200times"
@layout EmptyLayout

<p>
    <img style="width: 164px; height: 90px;" alt="Sola Arena" src="https://sola-arena.no/wp-content/themes/solaarena/images/logo.svg?ver=4" />
    <h3>200m tider</h3>
</p>

<SegmentTimes Start=2 End=1 />