@page "/segmenttimes"
@layout MainLayout
@using VeloTimer.Shared.Models
@inject NavigationManager NavigationManager
@inject HttpClient Http

<h3>Segment Times</h3>

@if (segments == null)
{
    <p>Loading...</p>
}
else
{
    <select @onchange="ChangeSegment">
        @foreach (var segment in segments)
        {
            <option value="@segment.Id">@segment.Label</option>
        }
    </select>

    <SegmentTimes Segment=segment/>
}

@code {
    private Segment[] segments;
    private long segment;

    protected override async Task OnInitializedAsync()
    {
        segments = await Http.GetFromJsonAsync<Segment[]>("/segments");
        segment = segments.First().Id;
    }

    private void ChangeSegment(ChangeEventArgs e)
    {
        var selected = int.Parse(e.Value.ToString());
        segment = segments.Where(s => s.Id == selected).Single().Id;
    }
}