@namespace VeloTimerWeb.Client.Components
<h3>ProfileVisibility</h3>
<MudGrid>
    <MudItem xs="12" xl="7">
    @if (profile != null)
    {
        <MudCard>
            <MudCardContent>
                <MudForm>
                    <MudField Label="Synlighet">
                        <MudCheckBox @bind-Value="@profile.IsPublic" Label="Vis i statistikk"/>
                        <MudPaper>
                        <MudText Typo="Typo.caption">
                            Når du velger å inkluderes i offentlig statistikk vil navn og tider vises i statistikker og skjermer på velodromen.<br />
                            Du vil også bli inkludert i listen med ryttere som er på banen nå.<br />
                            Du kan fortsatt se dine egne tider og rekorder med privat profil.
                        </MudText>
                        </MudPaper>
                    </MudField>
                </MudForm>
            </MudCardContent>
        </MudCard>
    }
    </MudItem>
</MudGrid>

@code {
    private RiderWeb profile;
}
