<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect rquests to default azure websites domain" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^velotime\.azurewebsites\.net$" />
						<add input="{HTTP_HOST}" pattern="^www\.veloti\.me$" />
					</conditions>
					<action type="Redirect" url="https://veloti.me/{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

</configuration>